.body-wrapper{
  max-width: calc(100vw - 10px)

}
.div-page{
  height: auto;
  /*
  width: 100vw;
  */
  min-width: 550px;
  border: 1px solid black;
}
.div-header{
  z-index: 3;
}

.section-content{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.player-select{
  display: flex;
}

.player-wrapper.carousel{
  display: grid;
  grid-auto-flow: column;
  
}
/*
classes:
player-display
    player-display-wrapper
        display-aside
        display-window, details-window
        details-content, content
*/
.player-display{
  min-height: 550px;   
  border: 1px solid black;

  display: grid;
  grid-template-rows: .1fr .9fr;
}
.player-display-wrapper{
  display: grid;
  grid-template-columns: .2fr .6fr .2fr;
}
.aside-start{
  display: grid;
  grid-template-columns: .75fr .25fr;
}

.aside-end{
  display: grid;
  grid-template-columns: .25fr .75fr;
}

.details-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.details-content-pane-left{
  display: grid;
  grid-template-rows: .1fr .9fr;
}

.details-content-pane-right{
  display: grid;
  grid-template-rows: .5fr .5fr;
}

.content-player-avatar{
  
}

#all-players-container,
.page-form{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    justify-content: center;
    padding-bottom: .5em;
  }

.page-form{
  display: grid;
  grid-template-rows: .2fr .8fr;
}

.page-form > *{
  /*
  transform: scale(1.5);  
  */
}