html{
  display: flex;
  justify-content: center;
}

body{
  max-width: var(--max-body);
  width:var(--body-width);
  display: flex;
  justify-content: center;
  align-items: center;
}
nav{
  height: var(--nav-height);
}
.body-wrapper{
  max-width: calc(100vw - 10px);
  

}
.div-page{
  /*
  height: auto;
  width: 100vw;
  */
  min-width: 550px;
}
.div-page.page-banner{
  width: 100%;
  min-height: 100vh;
}
.div-header{
  z-index: 100;
}

.div-seperator{
  position: relative;
  height:var(--seperator-height);
  width:100%;
  z-index: 100;
}
.title-header-margin-start{
  height: 5vh;
}
.title-header-margin-end{
  height: 20vh;
}
.section-content{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.article-ul{
  display:flex;
  flex-flow: column;
  row-gap: .5em;
}

.content-ul-li{
  display: grid;
  grid-template-columns: .225fr .045fr .74fr;
}

.player-select{
  display: flex;
  flex-wrap: wrap;
}

.carousel{
  min-height: 400px;
}

.player-wrapper.carousel{
  display: grid;
  grid-template-columns: auto 1fr auto;
  
}
.carousel-btn-wrapper{
  width:100%;
}

.btn-wrapper-rt{
  display: flex;
  justify-content: end

}
.carousel-container{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
  justify-content: center;
  padding-bottom: .5em;
}

.carousel-container.active{
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  gap: 1em;
  align-items: center;
  justify-content: center;
  padding-bottom: .5em;
}
/*
classes:
player-display
    player-display-wrapper
        display-aside
        display-window, details-window
        details-content, content
*/
.player-display{

  display: grid;
  grid-template-rows: .1fr .9fr;
}
.player-display-wrapper{
  min-height: 600px;
  display: grid;
  grid-template-columns: .2fr .6fr .2fr;
}
.aside-start{
  display: grid;
  grid-template-columns: .75fr .25fr;
}

.aside-end{
  display: grid;
  grid-template-columns: .25fr .75fr;
}

.details-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.details-content-pane-left{
  display: grid;
  grid-template-rows: .1fr .9fr;
}

.details-content-pane-right{
  display: grid;
  grid-template-rows: .5fr .5fr;
}

.content-player-avatar {
  height: auto;
  max-height: 300px;
  
}

.content-player-avatar img{
  height: 100%;
  width: 100%;
}

.page-form{
    max-width: 100%;
    height: 100vh;
  }



