/*General*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    
}

div{
    padding: 0;
    margin: 0;
}
nav{
    padding: 2em;
    margin: 0; 
    box-shadow:inset 0 0 3em .9em rgba(0, 0, 0, 0.2);
}

h1{
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 2.5em;
}

.div-page{
    border-bottom: 1px solid black;
}
/*Banner*/
.page-banner {
    background-image: url("https://img.freepik.com/premium-photo/seven-dog-portraits-front-natural-colors_748076-376.jpg?w=1380");
    background-size:fill;
    background-repeat:round;
    margin: 0;
   
}

.page-banner img{
    
  max-height: 100vh;
  width: calc(100vw - 15px);
  padding: 0;
  margin: 0;
}
/*Content*/
.section-content{
    row-gap: 1em;
    padding: 0 3em 3em 3em;

    box-shadow:inset 0 0 3em .9em rgba(0, 0, 0, 0.2);
}

.content-article{
    padding: 0 1.5em 1em 1.5em;
}

.content-ul-li{
    align-items: center;
    box-shadow: 0 0 .2em .2em rgba(0, 0, 0, 0.317);
    padding: .1em;
}

.content-li-header{
    place-items: center;
    box-shadow:inset .1em 0 .2em .2em rgba(0, 0, 0, 0.149);
    height: 100%;
}
.content-li-header h2{
    padding-top: .4em;
    padding-left: .5em;
    font-size: 1em;
    height: 100%;
}

.content-li-seperator{
    width: 100%; 
    height: 100%; 
    border-left: 100px solid transparent;
    border-right: -50px solid transparent;      
    border-top:70px solid var(--primary);
    
}

.content-li-p{
    width: 100%;
    height: 100%;
    padding: 0 .5em 0 1em;
    box-shadow:inset -.2em 0 .2em .2em rgba(0, 0, 0, 0.149);
    font-size: 1em;
}
/**/
.div-header{
    text-shadow: 0 0 2px black;
}
/*Display options*/
.player-select{
  padding: .25em;
  box-shadow:inset 0 0 .3em .2em rgba(0, 0, 0, 0.2);
}

.player-select > *{
    margin-left: .25em;
}
.select-header{
    width: 50%;
    padding-left: 10vw;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    
}
.select-header h2{
    margin: 0;
    font-size: 2em;
}
.toggle-icon{
    transform: scale(1.5);
}
/*Player container*/
.carousel{
    justify-content: space-between;
    
}
.carousel-container{
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow:inset 0 0 3em .8em rgba(0, 0, 0, 0.397);
}
.carousel-btn-wrapper{
    box-shadow:inset 0 0 3em .8em rgba(0, 0, 0, 0.397);
}
.btn-wrapper-lt{
    padding-right: 1em;
}

.btn-wrapper-rt{
    padding-left: 1em;
}

.carousel button{
    min-width: 5em;
    max-width: 5em;
    height:100%;
    border: none;
    box-shadow:inset 0 0 2em 1.5em rgba(97, 97, 97, 0.27);

    /*For child elements*/
    display: flex;
    justify-content: center;
    align-items: center;
}


.carousel-btn i{
    transform: scale(4);
    color: rgba(0, 0, 0, 0.1);
}
/*
classes:
player-display
    player-display-wrapper
        display-aside
        display-window, details-window
        details-content, content
*/
.player-display{
    box-shadow: 0 .1em .3em .1em rgba(0, 0, 0, 0.2);
}
.display-header{

    box-shadow:inset 0 0 .3em .2em rgba(0, 0, 0, 0.2);
}

.display-header h1{
    padding: 0;
    margin: 0;
    height: 100%;
    box-shadow:inset 0 0 .3em .2em rgba(0, 0, 0, 0.2);
}

.player-display-wrapper{
    height: 100%;
    
}
.display-aside-wrapper{
    height: 100%;
    min-width: 200px;
    box-shadow:inset 0 0 1em .8em rgba(0, 0, 0, 0.2);
 
}
.display-aside-outer{
    box-shadow:inset 0 0 1em 1em rgba(0, 0, 0, 0.222);

}
.display-aside-inner{
    box-shadow:.1em .1em .1em .1em rgba(0, 0, 0, 0.222);

}

.display-window{
    padding:1.1em;
    border: .2em solid var(--accent);
    box-shadow: inset 0 0 .3em .2em rgba(0, 0, 0, 0.24);
}
.details-content{
    height: 100%;
    border: .2em solid var(--accent);
    padding: .9em;
    box-shadow: inset 0 0 1em 1em rgba(0, 0, 0, 0.142);
    
}
.details-content-pane-right{
    border-left: 1px solid var(--accent);
}
.details-content-list{
    list-style-type: none;
    padding-left: .5em;
}
.content-player-avatar{
 border: .3em solid var(--accent);
 width: 90%;
 margin-left: 7.5%;


}
.content-player-description{
    padding: 1em;
}
.content-player-description p{
    padding-left: .5em;
}
/*Form*/
.page-form{
    box-shadow:inset 0 0 5em 2em rgba(97, 97, 97, 0.356);
    padding: 2em 0 0 0;
    display: grid;
    grid-template-rows: .2fr .8fr;
}
.form-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    
    padding-bottom: .5em;
}