*{
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
}

h1{
    text-align: center;
}

.banner {
    background-repeat: no-repeat;
    background-size:cover;
    height: auto;
    margin: 0;
    max-width: 100%;
}

.banner img{
    
    width: 100vw;
}